.main {
  margin-bottom: 2em;
}

/**
  * My account
  */

.swag-badges {
  display: flex;
}

.swag-badge {
  flex: 0 1 33%;
  position: relative;

  img {
    position: absolute;
    left: 0;
    right: 0;
  }

  .sw-badge-info {
    margin-left: 100px;
    padding: 10px;
  }
}

/**
  * Badge Asersion
  */

.single-badge-for-user-data {
  .badge-image {
    width: 150px;
    position: absolute;

    img {
      max-width: 100%;
    }
  }

  article.badge {
    font-size: 1rem;
    font-weight: inherit;
    text-align: left;
    margin-left: 150px;
    padding-left: 1em;
    min-height: 150px;
  }
}

/**
  * My Account
  */

.my-account-content {
  display: flex;
  background: #dedede;

  .my-account-image {
    flex: 0 0 60%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/46714028-african-american-student-girls-using-a-laptop-computer---black-people-Stock-Photo.jpg');
    background-size: cover;
    font-size: 2em;
    color: #fff;

    p {
      padding: 2em;
      padding-top: 6em;
    }
  }

  .my-account-form {
    flex: 0 0 40%;

    .tab-pane {
      padding: 2em 4em;
    }
  }
}
