.main {
  margin-bottom: 2em;
}

/**
  * My account
  */

.swag-badges {
  display: flex;
}

.swag-badge {
  flex: 0 1 33%;
  position: relative;

  img {
    position: absolute;
    left: 0;
    right: 0;
  }

  .sw-badge-info {
    margin-left: 100px;
    padding: 10px;
  }
}

/**
  * Badge Asersion
  */

.single-badge-for-user-data {
  .badge-image {
    width: 150px;
    position: absolute;

    img {
      max-width: 100%;
    }
  }

  article.badge {
    font-size: 1rem;
    font-weight: inherit;
    text-align: left;
    margin-left: 150px;
    padding-left: 1em;
    min-height: 150px;
  }
}
