.template-swagtracks,
.archive.tax-swagtrack {
  .header-container {
    display: flex;
  }

  .page-header {
    flex: 1 0 66%;
    background-color: #e4dedd;
    color: #1c4255;
    min-height: 200px;

    h1,
    p {
      padding: 1em;
    }
  }

  .user-info {
    flex: 0 1 33%;
    background-color: #19703e;
    color: #fff;
    padding: 1em;
  }
}

/**
  *  Index of swagtracks
  **/

.template-swagtracks {
  .swagtracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  article.swagtrack {
    flex: 0 0 30%;
    max-width: 32%;
    background: $swagtrack-default-bg;
    min-height: 200px;
    padding: 1em;
    margin: 1em 0;

    .entry-title a {
      color: $swagtrack-default-title-color;
    }

    .entry-summary {
      color: #f6faef;
    }
  }
}

/**
  *  Signle Swagtrack page (taxonomy archive)
  **/

.archive.tax-swagtrack {
  .page-header {
    background-color: #e4dedd;
    color: #1c4255;
    min-height: 200px;

    h1 {
      padding: 1em;
    }
  }

  // .page-content {
  //   display: flex;
  // }

  // .swagpaths {
  //   flex: 1 1 66%;
  //   display: flex;
  // }

  article.swagtrack {
    flex: 0 0 33%;
    max-width: 33%;
    background: $swagtrack-default-bg;
    min-height: 160px;
    padding: 1em;
    margin: 1em;

    .entry-title a {
      color: $swagtrack-default-title-color;
    }

    .entry-summary {
      color: #f6faef;
    }
  }

  .swagpath {
    display: flex;
    width: 100%;
    background-color: #e6e6e6;
    color: #1c4255;
    margin: 1em 0;

    &.completed {
      opacity: 0.5;
    }
  }

  .swagpath-status {
    flex: 0 0 50px;
    background-color: #d9e021;
    text-align: center;
    padding: 10px 0;
  }

  .locked .swagpath-status {
    background-color: #f6881c;
  }

  .swagpath-info,
  .swagpath-swagifacts {
    flex: 1 1 45%;
  }

  .swagpath-info {
    margin: 1em;
  }

  .swagpath-swagifacts {
    background-color: #f2f2f2;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        background-color: #c9db7c;
        padding: 0.5em 1em;
        margin: 1em;
        border-radius: 20px;
        overflow: hidden;

        &.completed::before {
          content: "\f00c";
          display: none;
          float: left;
          font-family: 'Font Awesome 5 Solid', serif;
        }
      }
    }
  }
}
